/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.bg-image{
 	background-image: url("../images/bg-image.jpg");
 	height: 900px;
 	max-width: 1280px;
 	width: 100%;
 	background-size: cover;
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
 }


 .logo{
 	width: 118px;
 	height: 37px;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 }

 ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 345px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	color: white;
	font-size: 12px;
}

.h1{
	margin: 336.6px 131.3px 418.7px 131.3px;
	color: white;
	font-size: 100px;
}

/*section - 2*/

.container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 601.44px;
	max-width: 1280px;
	width: 100%;
}

.left-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.h2{
	font-size: 50px;
	width: 468px;
}

.h3{
	font-size: 16px;
	width: 451px;
	margin-top: 24px;
}

p{
	border: 10px #325DFF;
	background-color: #325DFF;
	padding: 10px;
	border-radius: 50px;
	margin-top: 50px;
	color: white;
}

/*section-3*/
.heading{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 771px;
	width: 100%;
	height: 130px;
	margin-left: 255px;
	margin-top: 76.6px;

}

.cont-text-1{
	font-size: 35px;
}

.cont-text-2{
	font-size: 16px;
	padding-top: 9px;
	text-align: center;
}


.container-2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 772px;
	max-width: 1171px;
	width: 100%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 371px;
	height: 374px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.box-t-1{
	font-size: 18px;
	margin-top: 27px;
	margin-bottom: 9px;
}

.box-t-2{
	font-size: 16px;
	width: 251px;
	text-align: center;
}

.icone-1{
	border: 2px #325DFF;
	background-color: #325DFF;
	border-radius: 360px;
	padding: 28px;
}

.icone-2{
	border: 2px #325DFF;
	background-color: #325DFF;
	border-radius: 360px;
	padding: 28px 31.5px;
}

.icone-3{
	border: 2px #325DFF;
	background-color: #325DFF;
	border-radius: 360px;
	padding: 27px 25.5px;
}

.icone-4{
	border: 2px #325DFF;
	background-color: #325DFF;
	border-radius: 360px;
	padding: 27px 25.5px;
}

.icone-5{
	border: 2px #325DFF;
	background-color: #325DFF;
	border-radius: 360px;
	padding: 27px 25.5px;
}

.icone-6{
	border: 2px #325DFF;
	background-color: #325DFF;
	border-radius: 360px;
	padding: 27px 25.5px;
}